/* Misc. Styling */
body { 
	background-color: #FFF;
}

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: none;
	cursor:pointer;
	color: #202020;
}
/* Misc. Styling Over */

li {
	list-style: none;
	float: left;
	padding: 5px 16px;	
	margin-right: 20px;
	font-size: 2em;
	font-family: 'Pathway Gothic One', sans-serif;
	border: 1px solid;
}

.info {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 1.7em;
	width: 900px;
	height: 200px;
	border: 1px solid;
	top: 2px;
}

.search {
	margin: 0 auto;
	width: 500px;
	height: 250px;
	position: relative;
	margin-top: 300px;
	padding: 2px;
	border: 1px solid;
}

